/* Estilos padrão para links de navegação */
nav ul li a {
  display: flex;
  align-items: center;
  transition: color 0.3s ease, background-color 0.3s ease;
  color: black; 
  text-decoration: none; /* Remove underline if needed */
}

/* Estilos para o estado de hover */
nav ul li a:hover {
  color: #0082BA; 
}

nav ul li a:hover svg, 
nav ul li a:hover span {
  color: #0082BA;
}

/* Estilos para o item ativo */
nav ul li a.active {
  color: #0082BA; 
  font-weight: bold;
}

/* Estilos para o ícone e texto do item ativo */
nav ul li a.active svg,
nav ul li a.active span {
  color: #0082BA; 
}

/* Estilos adicionais para o item ativo (geral) */
.side-menu.ativo a {
  background-color: #ddd; /* Cor de fundo do item ativo */
}

/* Estilos para o ícone e texto do item ativo (geral) */
.side-menu.ativo a svg,
.side-menu.ativo a span {
  color: #0082BA; /* Cor do texto e ícone do item ativo */
}
